{
    "openapi": "3.0.3",
    "info": {
        "title": "OneOToO.ai",
        "version": "1.0.0",
        "contact": {}
    },
    "servers": [
        {
            "url": "https://oneotooapi.visibleone.io/api/v1"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1"
        },
        {
            "url": "https://devapi.asdayone.com/api/v1"
        },
        {
            "url": "localhost"
        },
        {
            "url": "https://uatapi.asdayone.com"
        },
        {
            "url": "{{crm_url}}"
        },
        {
            "url": "https://devapi.asdayone.com"
        },
        {
            "url": "https://world.bmbc.cloud"
        },
        {
            "url": "https://oauth2.googleapis.com"
        },
        {
            "url": "https://fcm.googleapis.com"
        }
    ],
    "paths": {
        "/language": {
            "get": {
                "tags": [
                    "Language"
                ],
                "summary": "Get Languages",
                "description": "Get Languages",
                "operationId": "getLanguages",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            },
            "post": {
                "tags": [
                    "Language"
                ],
                "summary": "Create Language",
                "description": "Create Language",
                "operationId": "createLanguage",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "number",
                                        "example": 123
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Aries"
                                    }
                                }
                            },
                            "examples": {
                                "Create Language": {
                                    "value": {
                                        "code": 123,
                                        "name": "Aries"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/language/1": {
            "put": {
                "tags": [
                    "Language"
                ],
                "summary": "Update Language",
                "description": "Update Language",
                "operationId": "updateLanguage",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "number",
                                        "example": 3223
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "AriesVisibee"
                                    }
                                }
                            },
                            "examples": {
                                "Update Language": {
                                    "value": {
                                        "code": 3223,
                                        "name": "AriesVisibee"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/language/3": {
            "delete": {
                "tags": [
                    "Language"
                ],
                "summary": "Delete Language",
                "description": "Delete Language",
                "operationId": "deleteLanguage",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/categories/all": {
            "post": {
                "tags": [
                    "Inventory",
                    "Category"
                ],
                "summary": "Get all/paginated",
                "description": "Get all/paginated",
                "operationId": "getAllPaginated",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": "object",
                                        "properties": {
                                            "keyword": {
                                                "nullable": true,
                                                "example": null
                                            }
                                        }
                                    },
                                    "page": {
                                        "type": "number",
                                        "example": 1
                                    },
                                    "per_page": {
                                        "type": "number",
                                        "example": 10
                                    },
                                    "sorting": {
                                        "type": "object",
                                        "properties": {
                                            "column": {
                                                "type": "string",
                                                "example": "id"
                                            },
                                            "direction": {
                                                "type": "string",
                                                "example": "asc"
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Get all/paginated": {
                                    "value": {
                                        "filters": {
                                            "keyword": null
                                        },
                                        "page": 1,
                                        "per_page": 10,
                                        "sorting": {
                                            "column": "id",
                                            "direction": "asc"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories": {
            "post": {
                "tags": [
                    "Inventory",
                    "Category"
                ],
                "summary": "Create Category",
                "description": "Create Category",
                "operationId": "createCategory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "example": "test1.png"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "parent_id": {
                                        "nullable": true,
                                        "example": null
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string",
                                                    "example": "Description 1"
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "example": "en"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Samsung"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "/en"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "description": "Description 1",
                                                "language": "en",
                                                "name": "Samsung",
                                                "slug": "/en"
                                            },
                                            {
                                                "description": "Description 1",
                                                "language": "zh",
                                                "name": "Samsung",
                                                "slug": "/zh"
                                            },
                                            {
                                                "description": "Description 1",
                                                "language": "cn",
                                                "name": "Samsung",
                                                "slug": "/cn"
                                            }
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Create Category": {
                                    "value": {
                                        "image": "test1.png",
                                        "is_active": true,
                                        "parent_id": null,
                                        "translations": [
                                            {
                                                "description": "Description 1",
                                                "language": "en",
                                                "name": "Samsung",
                                                "slug": "/en"
                                            },
                                            {
                                                "description": "Description 1",
                                                "language": "zh",
                                                "name": "Samsung",
                                                "slug": "/zh"
                                            },
                                            {
                                                "description": "Description 1",
                                                "language": "cn",
                                                "name": "Samsung",
                                                "slug": "/cn"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories/1": {
            "get": {
                "tags": [
                    "Inventory",
                    "Category"
                ],
                "summary": "Get Category",
                "description": "Get Category",
                "operationId": "getCategory",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Inventory",
                    "Category"
                ],
                "summary": "Update Category",
                "description": "Update Category",
                "operationId": "updateCategory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "example": "test12.png"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "parent_id": {
                                        "type": "number",
                                        "example": 1
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string",
                                                    "example": "Description 3"
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "example": "en"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Category 3"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "/zh"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "description": "Description 3",
                                                "language": "en",
                                                "name": "Category 3",
                                                "slug": "/zh"
                                            },
                                            {
                                                "description": "Description 3",
                                                "language": "zh",
                                                "name": "Category 3",
                                                "slug": "/zh"
                                            },
                                            {
                                                "description": "Description 3",
                                                "language": "cn",
                                                "name": "Category 3",
                                                "slug": "/zh"
                                            }
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Update Category": {
                                    "value": {
                                        "image": "test12.png",
                                        "is_active": true,
                                        "parent_id": 1,
                                        "translations": [
                                            {
                                                "description": "Description 3",
                                                "language": "en",
                                                "name": "Category 3",
                                                "slug": "/zh"
                                            },
                                            {
                                                "description": "Description 3",
                                                "language": "zh",
                                                "name": "Category 3",
                                                "slug": "/zh"
                                            },
                                            {
                                                "description": "Description 3",
                                                "language": "cn",
                                                "name": "Category 3",
                                                "slug": "/zh"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/categories/3": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Category"
                ],
                "summary": "Delete Category",
                "description": "Delete Category",
                "operationId": "deleteCategory",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/categories/bulk-delete": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Category"
                ],
                "summary": "Bulk Delete",
                "description": "Bulk Delete",
                "operationId": "bulkDelete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "number",
                                            "example": 4
                                        },
                                        "example": [
                                            4,
                                            5
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Bulk Delete": {
                                    "value": {
                                        "ids": [
                                            4,
                                            5
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/categories/1/change-status": {
            "post": {
                "tags": [
                    "Inventory",
                    "Category"
                ],
                "summary": "Change Active Status",
                "description": "Change Active Status",
                "operationId": "changeActiveStatus",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/all": {
            "post": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Get all/paginated",
                "description": "Get all/paginated",
                "operationId": "getAllPaginated1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "Get all/paginated": {
                                    "value": "{\n    \"page\": 1,\n    \"per_page\": 10,\n    \"filters\" : {\n        \"category_id\": 1,\n        \"brand_id\": 1\n        // \"keyword\": \"GG\"\n    },\n    \"sorting\": {\n        \"column\": \"id\",\n        \"direction\": \"asc\"\n    }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products": {
            "post": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Create product",
                "description": "Create product",
                "operationId": "createProduct",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "Create product": {
                                    "value": "{\n    \"product_type\": 1, // 1 = Simple , 2 = Variable , 3 = Package, 4 = Combo , 5 = Service\n    \"sku\": \"VO390201215\",\n    \"item_code\": \"IT-00120201215\",\n    \"reference_code\": null,\n    \"item_status\": 1,\n    \"barcode\": null,\n    \"category_id\": 1,\n    \"brand_id\": 1,\n    \"color_id\": null,\n    \"image\": \"/storage/uploads/test.png\",\n    \"categories\": [\n        2,\n        3,\n        4\n    ],\n    \"tags\": [\n        \"test\"\n    ],\n    \"galleries\": [\n        {\n            \"image\": \"/storage/uploads/test.png\",\n            \"sorting\": 1\n        },\n        {\n            \"image\": \"/storage/uploads/test2.png\",\n            \"sorting\": 2\n        }\n    ],\n    \"is_hot\": true,\n    \"is_new\": true,\n    \"original_price\": 1000,\n    \"discount_type\": \"fix_amount\", //percent\n    \"discount_amount\": 100,\n    \"discount_price\": 100,\n    \"add_on_price\": 30,\n    \"sale_price\": 200,\n    \"sale_tax\": 20,\n    \"sale_receivable_account_id\": null,\n    \"sale_remark\": \"Just Sale Remark\",\n    \"purchase_price\": 300,\n    \"purchase_tax\": 30,\n    \"purchase_payable_account_id\": null,\n    \"purchase_remark\": \"Just Purchae Remark\",\n    \"preferred_supplier_id\": 1,\n    \"checkout_add_on_price\": 30,\n    \"opening_stock\": null,\n    \"opening_stock_rate_per_unit\": null,\n    \"on_hand_unit\": null,\n    \"reorder_stock_point\": null,\n    \"maximum_stock_quantity\": null,\n    \"minimum_stock_quantity\": null,\n    \"show_available_quantity\": null,\n    \"out_of_stock_message\": null,\n    \"is_trackable\": true,\n    \"inventory_account_id\": null,\n    \"branch_id\": null,\n    \"warehouse_id\": null,\n    \"volume_pricing\": [\n        {\n            \"start_qty\": 1,\n            \"end_qty\": 5,\n            \"price\": 500\n        },\n        {\n            \"start_qty\": 6,\n            \"end_qty\": 15,\n            \"price\": 1200\n        }\n    ],\n    \"product_attributes\": [\n        {\n            \"id\": 2,\n            \"values\": [\n                {\n                    \"id\": 4,\n                    \"value\": \"14\"\n                },\n                {\n                    \"id\": 5,\n                    \"value\": \"16\"\n                }\n            ]\n        },\n        {\n            \"id\": 3,\n            \"values\": [\n                {\n                    \"id\": 7,\n                    \"value\": \"256\"\n                },\n                {\n                    \"id\": 8,\n                    \"value\": \"512\"\n                }\n            ]\n        }\n    ],\n    \"packaging_quantity\": 7,\n    \"product_packages\": [\n        {\n            \"id\": null,\n            \"package_product_id\": 1, // \n            \"package_qty\": 1, //\n            \"package_price\": 200,\n            \"package_discount_price\": 5,\n            \"package_point\": 0\n        },\n        {\n            \"id\": null,\n            \"package_product_id\": 2,\n            \"package_qty\": 1,\n            \"package_price\": 200,\n            \"package_discount_price\": 5,\n            \"package_point\": 0\n        }\n    ], // if product_type = 3\n    \"combo_price\": 400,\n    \"combo_point\": 10,\n    \"suppliers\": [\n        // {\n        //     \"supplier_id\": 5,\n        //     \"item_code\": \"X00098\",\n        //     \"remark\": \"Supplier 1\"\n        // }\n    ],\n    \"product_combos\": [\n        {\n            \"combo_product_id\": 1,\n            \"combo_qty\": 1\n        },\n        {\n            \"combo_product_id\": 2,\n            \"combo_qty\": 1\n        }\n    ], // if product_type = 4\n    \"country_id\": null,\n    \"point\": null,\n    \"unit\": null,\n    \"weight\": null,\n    \"length\": null,\n    \"height\": null,\n    \"width\": null,\n    \"region\": \"HK\",\n    \"is_recurring\": false,\n    \"recurring_period\": null,\n    \"recurring_custom_period_type\": null,\n    \"recurring_custom_period\": null,\n    \"price_list_id\": null,\n    \"recurring_price\": null,\n    \"contract\": \"contract information\",\n    \"aggrement_link\": \"https://aggrement_link\",\n    \"warranty_information\": \"warranty information\",\n    \"service_type\": null,\n    \"duration_type\": 1,\n    \"duration\": 2,\n    \"availability_days\": [\n        0,\n        1,\n        2,\n        4,\n        5\n    ],\n    \"checkout_add_on_products\": [\n        1\n    ],\n    \"product_add_ons\": [ // special offer \n        {\n            \"add_on_product_id\": 1,\n            \"add_on_level_id\": 1\n        }\n    ],\n    \"is_returnable\": null,\n    \"discount_start_date\": null,\n    \"discount_end_date\": null,\n    \"translations\": [\n        {\n            \"name\": \"OneOToO testing product - 2024\",\n            \"description\": \"This is coupon description\",\n            \"language\": \"en\"\n        },\n        {\n            \"name\": \"OneOToO testing product - 2024\",\n            \"description\": \"This is coupon description\",\n            \"language\": \"zh\"\n        },\n        {\n            \"name\": \"OneOToO testing product - 2024\",\n            \"description\": \"This is coupon description\",\n            \"language\": \"cn\"\n        }\n    ]\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/33": {
            "patch": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Update product",
                "description": "Update product",
                "operationId": "updateProduct",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "Update product": {
                                    "value": "// {\n//     \"id\": 5,\n//     \"sku\": \"VO202402222\",\n//     \"category_id\": 1,\n//     \"brand_id\": 1,\n//     \"color_id\": 1,\n//     \"image\": \"/storage/uploads/test.png\",\n//     \"galleries\": [\n//         {\n//             \"image\": \"/storage/uploads/test.png\",\n//             \"sorting\": 1\n//         },\n//         {\n//             \"image\": \"/storage/uploads/test2.png\",\n//             \"sorting\": 2\n//         }\n//     ],\n//     \"is_hot\": true,\n//     \"is_new\": true,\n//     \"original_price\": 1000,\n//     \"product_type\": 1,\n//     \"discount_type\": \"fix_amount\",\n//     \"discount_amount\": 100,\n//     \"discount_price\": 100,\n//     \"add_on_price\": 30,\n//     \"combo_price\": 400,\n//     \"combo_point\": 10,\n//     \"sale_price\": 200,\n//     \"sale_tax\": 20,\n//     \"sale_receivable_account_id\": null,\n//     \"sale_remark\": \"Just Sale Remark\",\n//     \"purchase_price\": 300,\n//     \"purchase_tax\": 30,\n//     \"purchase_payable_account_id\": null,\n//     \"checkout_add_on_price\": 30,\n//     \"country_id\": null,\n//     \"point\": null,\n//     \"unit\": null,\n//     \"weight\": null,\n//     \"length\": null,\n//     \"height\": null,\n//     \"width\": null,\n//     \"is_returnable\": null,\n//     \"discount_start_date\": null,\n//     \"discount_end_date\": null,\n//     \"checkout_add_on_products\": [\n//         1\n//     ],\n//     \"product_add_ons\": [\n//         {\n//             \"id\": 3,\n//             \"product_id\": 5,\n//             \"add_on_product_id\": 1,\n//             \"add_on_level_id\": 1,\n//             \"deleted_at\": null,\n//             \"is_delete\": true, // If you delete the data , is_delete = true\n//             \"created_at\": \"2024-10-18T03:28:58.000000Z\",\n//             \"updated_at\": \"2024-10-18T03:28:58.000000Z\"\n//         },\n//     ],\n//     \"variable_products\": [],\n//     \"product_combos\": [\n//         {\n//             \"id\": 11,\n//             \"product_id\": 16,\n//             \"combo_product_id\": 1,\n//             \"combo_qty\": 1,\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-10-16T14:07:32.000000Z\",\n//             \"updated_at\": \"2024-10-16T14:07:32.000000Z\"\n//         },\n//         {\n//             \"id\": 12,\n//             \"product_id\": 16,\n//             \"combo_product_id\": 2,\n//             \"combo_qty\": 1,\n//             \"is_delete\": true, // If you delete the data is_delete = true.If you not, it is optional.\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-10-16T14:07:32.000000Z\",\n//             \"updated_at\": \"2024-10-16T14:07:32.000000Z\"\n//         }\n//     ],\n//     \"suppliers\": [\n//         {\n//             \"id\": null,\n//             \"supplier_id\": 1,\n//             \"item_code\": \"X0009822\",\n//             \"remark\": \"Supplier 1\",\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-10-16T14:07:32.000000Z\",\n//             \"updated_at\": \"2024-10-16T14:07:32.000000Z\"\n//         },\n//         {\n//             \"id\": 3,\n//             \"product_id\": 16,\n//             \"supplier_id\": 1,\n//             \"item_code\": \"X00098\",\n//             \"remark\": \"Supplier 1\",\n//             \"is_delete\": true, // If you delete the data is_delete = true.If you not, it is optional.\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-10-16T14:13:49.000000Z\",\n//             \"updated_at\": \"2024-10-16T14:13:49.000000Z\"\n//         }\n//     ],\n//     \"product_packages\": {\n//         \"products\": [\n//             1,\n//             2\n//         ],\n//         \"packages\": [\n//             {\n//                 \"id\": 7,\n//                 \"product_id\": 8,\n//                 \"package_qty\": 1,\n//                 \"package_price\": \"200.00\",\n//                 \"package_discount_price\": \"5.00\",\n//                 \"package_point\": 0,\n//                 \"is_delete\": true, // If you delete the data is_delete = true.If you not, it is optional.\n//                 \"deleted_at\": null,\n//                 \"created_at\": \"2024-10-15T09:43:15.000000Z\",\n//                 \"updated_at\": \"2024-10-15T09:43:15.000000Z\"\n//             },\n//             {\n//                 \"id\": 8,\n//                 \"product_id\": 8,\n//                 \"package_qty\": 1,\n//                 \"package_price\": \"200.00\",\n//                 \"package_discount_price\": \"50.00\",\n//                 \"package_point\": 0,\n//                 \"deleted_at\": null,\n//                 \"created_at\": \"2024-10-15T09:43:15.000000Z\",\n//                 \"updated_at\": \"2024-10-15T09:43:15.000000Z\"\n//             },\n//             {\n//                 \"id\": null,\n//                 \"product_id\": 8,\n//                 \"package_qty\": 1,\n//                 \"package_price\": \"2000.00\",\n//                 \"package_discount_price\": \"50.00\",\n//                 \"package_point\": 0,\n//                 \"deleted_at\": null,\n//                 \"created_at\": \"2024-10-15T09:43:15.000000Z\",\n//                 \"updated_at\": \"2024-10-15T09:43:15.000000Z\"\n//             }\n//         ]\n//     },\n//     \"translations\": [\n//         {\n//             \"id\": 13,\n//             \"product_id\": 5,\n//             \"name\": \"My Product\",\n//             \"slug\": null,\n//             \"description\": \"This is coupon description\",\n//             \"meta_title\": null,\n//             \"meta_description\": null,\n//             \"language\": \"en\",\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-10-18T03:20:01.000000Z\",\n//             \"updated_at\": \"2024-10-18T03:20:01.000000Z\"\n//         },\n//         {\n//             \"id\": 14,\n//             \"product_id\": 5,\n//             \"name\": \"My Product\",\n//             \"slug\": null,\n//             \"description\": \"This is coupon description\",\n//             \"meta_title\": null,\n//             \"meta_description\": null,\n//             \"language\": \"zh\",\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-10-18T03:20:01.000000Z\",\n//             \"updated_at\": \"2024-10-18T03:20:01.000000Z\"\n//         },\n//         {\n//             \"id\": 15,\n//             \"product_id\": 5,\n//             \"name\": \"My Product\",\n//             \"slug\": null,\n//             \"description\": \"This is coupon description\",\n//             \"meta_title\": null,\n//             \"meta_description\": null,\n//             \"language\": \"cn\",\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-10-18T03:20:01.000000Z\",\n//             \"updated_at\": \"2024-10-18T03:20:01.000000Z\"\n//         }\n//     ]\n// }\n// {\n//     \"id\": 23,\n//     \"sku\": \"VO3356\",\n//     \"category_id\": 1,\n//     \"categories\": [\n//         1\n//     ],\n//     \"brand_id\": 1,\n//     \"color_id\": null,\n//     \"image\": \"/storage/uploads/test.png\",\n//     \"galleries\": [\n//         {\n//             \"image\": \"/storage/uploads/test.png\",\n//             \"sorting\": 1\n//         },\n//         {\n//             \"image\": \"/storage/uploads/test2.png\",\n//             \"sorting\": 2\n//         }\n//     ],\n//     \"is_hot\": true,\n//     \"is_new\": true,\n//     \"is_active\": true,\n//     \"is_fav\": false,\n//     \"barcode\": null,\n//     \"original_price\": \"1000.00\",\n//     \"product_type\": 1,\n//     \"discount_type\": \"fix_amount\",\n//     \"discount_amount\": 100,\n//     \"discount_price\": \"100.00\",\n//     \"on_hand_unit\": 0,\n//     \"add_on_price\": \"30.00\",\n//     \"combo_price\": \"400.00\",\n//     \"combo_point\": 10,\n//     \"checkout_add_on_price\": \"30.00\",\n//     \"sale_price\": \"200.00\",\n//     \"sale_tax\": \"20.00\",\n//     \"sale_receivable_account_id\": null,\n//     \"sale_remark\": \"Just Sale Remark\",\n//     \"purchase_price\": \"300.00\",\n//     \"purchase_tax\": \"30.00\",\n//     \"purchase_payable_account_id\": null,\n//     \"purchase_remark\": null,\n//     \"preferred_supplier_id\": null,\n//     \"tags\": [\n//         1\n//     ],\n//     \"variable_products\": [],\n//     \"product_combos\": [],\n//     \"suppliers\": [],\n//     \"product_packages\": {\n//         \"products\": [],\n//         \"packages\": []\n//     },\n//     \"country_id\": null,\n//     \"point\": null,\n//     \"unit\": null,\n//     \"weight\": null,\n//     \"length\": null,\n//     \"height\": null,\n//     \"width\": null,\n//     \"checkout_add_on_products\": [\n//         1\n//     ],\n//     \"product_add_ons\": [\n//         {\n//             \"id\": 8,\n//             \"product_id\": 23,\n//             \"add_on_product_id\": 1,\n//             \"add_on_level_id\": 1,\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-11-27T11:07:11.000000Z\",\n//             \"updated_at\": \"2024-11-27T11:07:11.000000Z\"\n//         }\n//     ],\n//     \"is_returnable\": false,\n//     \"discount_start_date\": null,\n//     \"discount_end_date\": null,\n//     \"translations\": [\n//         {\n//             \"id\": 63,\n//             \"product_id\": 23,\n//             \"name\": \"My Product @ 2024\",\n//             \"slug\": null,\n//             \"description\": \"This is coupon description\",\n//             \"meta_title\": null,\n//             \"meta_description\": null,\n//             \"language\": \"en\",\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-11-27T11:07:11.000000Z\",\n//             \"updated_at\": \"2024-11-27T11:07:11.000000Z\"\n//         },\n//         {\n//             \"id\": 64,\n//             \"product_id\": 23,\n//             \"name\": \"My Product @ 2024\",\n//             \"slug\": null,\n//             \"description\": \"This is coupon description\",\n//             \"meta_title\": null,\n//             \"meta_description\": null,\n//             \"language\": \"zh\",\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-11-27T11:07:11.000000Z\",\n//             \"updated_at\": \"2024-11-27T11:07:11.000000Z\"\n//         },\n//         {\n//             \"id\": 65,\n//             \"product_id\": 23,\n//             \"name\": \"My Product @ 2024\",\n//             \"slug\": null,\n//             \"description\": \"This is coupon description\",\n//             \"meta_title\": null,\n//             \"meta_description\": null,\n//             \"language\": \"cn\",\n//             \"deleted_at\": null,\n//             \"created_at\": \"2024-11-27T11:07:11.000000Z\",\n//             \"updated_at\": \"2024-11-27T11:07:11.000000Z\"\n//         }\n//     ],\n//     \"created_at\": \"2024-11-27T11:07:11.000000Z\",\n//     \"updated_at\": \"2024-11-27T11:07:11.000000Z\",\n//     \"createdBy\": \"Laramaster Visibee\",\n//     \"updatedBy\": null\n// }\n{\n    \"id\": 33,\n    \"sku\": \"VO33569\",\n    \"categories\": [\n        2,\n        3,\n        4\n    ],\n    \"brand_id\": 1,\n    \"color_id\": null,\n    \"image\": \"/storage/uploads/test.png\",\n    \"galleries\": [\n        {\n            \"image\": \"/storage/uploads/test.png\",\n            \"sorting\": 1\n        },\n        {\n            \"image\": \"/storage/uploads/test2.png\",\n            \"sorting\": 2\n        }\n    ],\n    \"is_hot\": true,\n    \"is_new\": true,\n    \"is_active\": true,\n    \"is_fav\": false,\n    \"barcode\": null,\n    \"original_price\": \"1000.00\",\n    \"product_type\": 4,\n    \"discount_type\": \"fix_amount\",\n    \"discount_amount\": 100,\n    \"discount_price\": \"100.00\",\n    \"on_hand_unit\": 0,\n    \"add_on_price\": \"30.00\",\n    \"combo_price\": \"400.00\",\n    \"combo_point\": 10,\n    \"checkout_add_on_price\": \"30.00\",\n    \"sale_price\": \"200.00\",\n    \"sale_tax\": \"20.00\",\n    \"sale_receivable_account_id\": null,\n    \"sale_remark\": \"Just Sale Remark\",\n    \"purchase_price\": \"300.00\",\n    \"purchase_tax\": \"30.00\",\n    \"purchase_payable_account_id\": null,\n    \"purchase_remark\": null,\n    \"preferred_supplier_id\": null,\n    \"tags\": [\n        1\n    ],\n    \"variable_products\": [],\n    \"product_combos\": [\n        {\n            \"id\": 3,\n            \"product_id\": 33,\n            \"combo_product_id\": 1,\n            \"combo_qty\": 1,\n            \"deleted_at\": null,\n            \"created_at\": \"2024-11-29T03:26:48.000000Z\",\n            \"updated_at\": \"2024-11-29T03:26:48.000000Z\"\n        },\n        {\n            \"id\": 4,\n            \"product_id\": 33,\n            \"combo_product_id\": 2,\n            \"combo_qty\": 1,\n            \"deleted_at\": null,\n            \"created_at\": \"2024-11-29T03:26:48.000000Z\",\n            \"updated_at\": \"2024-11-29T03:26:48.000000Z\"\n        }\n    ],\n    \"suppliers\": [],\n    \"product_packages\": {\n        \"products\": [],\n        \"packages\": []\n    },\n    \"country_id\": null,\n    \"point\": null,\n    \"unit\": null,\n    \"weight\": null,\n    \"length\": null,\n    \"height\": null,\n    \"width\": null,\n    \"checkout_add_on_products\": [\n        1\n    ],\n    \"product_add_ons\": [],\n    \"is_returnable\": false,\n    \"discount_start_date\": null,\n    \"discount_end_date\": null,\n    \"translations\": [\n        {\n            \"id\": 93,\n            \"product_id\": 33,\n            \"name\": \"OneOToO testing product - 2024\",\n            \"slug\": null,\n            \"description\": \"This is coupon description\",\n            \"meta_title\": null,\n            \"meta_description\": null,\n            \"language\": \"en\",\n            \"deleted_at\": null,\n            \"created_at\": \"2024-11-29T03:26:48.000000Z\",\n            \"updated_at\": \"2024-11-29T03:26:48.000000Z\"\n        },\n        {\n            \"id\": 94,\n            \"product_id\": 33,\n            \"name\": \"OneOToO testing product - 2024\",\n            \"slug\": null,\n            \"description\": \"This is coupon description\",\n            \"meta_title\": null,\n            \"meta_description\": null,\n            \"language\": \"zh\",\n            \"deleted_at\": null,\n            \"created_at\": \"2024-11-29T03:26:48.000000Z\",\n            \"updated_at\": \"2024-11-29T03:26:48.000000Z\"\n        },\n        {\n            \"id\": 95,\n            \"product_id\": 33,\n            \"name\": \"OneOToO testing product - 2024\",\n            \"slug\": null,\n            \"description\": \"This is coupon description\",\n            \"meta_title\": null,\n            \"meta_description\": null,\n            \"language\": \"cn\",\n            \"deleted_at\": null,\n            \"created_at\": \"2024-11-29T03:26:48.000000Z\",\n            \"updated_at\": \"2024-11-29T03:26:48.000000Z\"\n        }\n    ],\n    \"created_at\": \"2024-11-29T03:26:48.000000Z\",\n    \"updated_at\": \"2024-11-29T03:26:48.000000Z\",\n    \"createdBy\": \"Laramaster Visibee\",\n    \"updatedBy\": null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/bulk-delete": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Delete product",
                "description": "Delete product",
                "operationId": "deleteProduct",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "example": [
                                            1
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Delete product": {
                                    "value": {
                                        "ids": [
                                            1
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/products/10": {
            "get": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Get product",
                "description": "Get product",
                "operationId": "getProduct",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/default/code": {
            "get": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Get product code",
                "description": "Get product code",
                "operationId": "getProductCode",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/1/change-status": {
            "post": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Change Active Status",
                "description": "Change Active Status",
                "operationId": "changeActiveStatus1",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/import": {
            "post": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Import",
                "description": "Import",
                "operationId": "import",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/export": {
            "get": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Export",
                "description": "Export",
                "operationId": "export",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/product-logs/1": {
            "get": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Get logs",
                "description": "Get logs",
                "operationId": "getLogs",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/products/sample-import-file": {
            "get": {
                "tags": [
                    "Inventory",
                    "Product"
                ],
                "summary": "Sample Import File",
                "description": "Sample Import File",
                "operationId": "sampleImportFile",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/product-attributes/1": {
            "get": {
                "tags": [
                    "Inventory",
                    "Product Attributes"
                ],
                "summary": "Get Product Attributes",
                "description": "Get Product Attributes",
                "operationId": "getProductAttributes",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/product-attributes/all": {
            "post": {
                "tags": [
                    "Inventory",
                    "Product Attributes"
                ],
                "summary": "Get All Product Attributes / Paginated",
                "description": "Get All Product Attributes / Paginated",
                "operationId": "getAllProductAttributesPaginated",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "Get All Product Attributes / Paginated": {
                                    "value": "{\n    \"page\": 1,\n    \"per_page\": 10,\n    \"filters\" : {\n        // \"keyword\": \"Color\"\n    },\n    \"sorting\": {\n        \"column\": \"id\",\n        \"direction\": \"asc\"\n    }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/product-attributes": {
            "post": {
                "tags": [
                    "Inventory",
                    "Product Attributes"
                ],
                "summary": "Create Product Attributes",
                "description": "Create Product Attributes",
                "operationId": "createProductAttributes",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Screen Resolution"
                                    },
                                    "values": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "example": "5"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "value": "5"
                                            },
                                            {
                                                "value": "6"
                                            },
                                            {
                                                "value": "7"
                                            },
                                            {
                                                "value": "7.5"
                                            }
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Create Product Attributes": {
                                    "value": {
                                        "name": "Screen Resolution",
                                        "values": [
                                            {
                                                "value": "5"
                                            },
                                            {
                                                "value": "6"
                                            },
                                            {
                                                "value": "7"
                                            },
                                            {
                                                "value": "7.5"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/product-attributes/1/change-status": {
            "post": {
                "tags": [
                    "Inventory",
                    "Product Attributes"
                ],
                "summary": "Change Active Status",
                "description": "Change Active Status",
                "operationId": "changeActiveStatus2",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/product-attributes/bulk-delete": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Product Attributes"
                ],
                "summary": "Delete product attribute",
                "description": "Delete product attribute",
                "operationId": "deleteProductAttribute",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "example": [
                                            1
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Delete product attribute": {
                                    "value": {
                                        "ids": [
                                            1
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/branches/all": {
            "post": {
                "tags": [
                    "Inventory",
                    "Branch"
                ],
                "summary": "Get All / Paginated",
                "description": "Get All / Paginated",
                "operationId": "getAllPaginated2",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": "object",
                                        "properties": {
                                            "is_active": {
                                                "type": "number",
                                                "example": 1
                                            },
                                            "keyword": {
                                                "nullable": true,
                                                "example": null
                                            }
                                        }
                                    },
                                    "page": {
                                        "type": "number",
                                        "example": 1
                                    },
                                    "per_page": {
                                        "type": "number",
                                        "example": 10
                                    },
                                    "sorting": {
                                        "type": "object",
                                        "properties": {
                                            "column": {
                                                "type": "string",
                                                "example": "id"
                                            },
                                            "direction": {
                                                "type": "string",
                                                "example": "asc"
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Get All / Paginated": {
                                    "value": {
                                        "filters": {
                                            "is_active": 1,
                                            "keyword": null
                                        },
                                        "page": 1,
                                        "per_page": 10,
                                        "sorting": {
                                            "column": "id",
                                            "direction": "asc"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/branches": {
            "get": {
                "tags": [
                    "Employee Module",
                    "Branches"
                ],
                "summary": "Get All/Paginated",
                "description": "Get All/Paginated",
                "operationId": "getAllPaginated30",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "10"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "locations",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "10,1"
                        }
                    },
                    {
                        "name": "export",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "excel"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "Crimson Peak Branch"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "name"
                        }
                    },
                    {
                        "name": "only_this_page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "1"
                        },
                        "description": "boolean(1/0)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Employee Module",
                    "Branches"
                ],
                "summary": "Create Branch",
                "description": "Create Branch",
                "operationId": "createBranch",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "branchId": {
                                        "type": "string",
                                        "example": "ID0001"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "testing purpose only"
                                    },
                                    "location_id": {
                                        "type": "number",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Branch Created By Yitty"
                                    }
                                }
                            },
                            "examples": {
                                "Create Branch": {
                                    "value": {
                                        "branchId": "ID0001",
                                        "description": "testing purpose only",
                                        "location_id": 1,
                                        "name": "Branch Created By Yitty"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/branches/2": {
            "get": {
                "tags": [
                    "Inventory",
                    "Branch"
                ],
                "summary": "Get Branch",
                "description": "Get Branch",
                "operationId": "getBranch",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/branches/3": {
            "patch": {
                "tags": [
                    "Inventory",
                    "Branch"
                ],
                "summary": "Update Branch",
                "description": "Update Branch",
                "operationId": "updateBranch",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "0012"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "email"
                                    },
                                    "google_location": {
                                        "type": "string",
                                        "example": "Location 1 New"
                                    },
                                    "is_active": {
                                        "type": "number",
                                        "example": 1
                                    },
                                    "manager_id": {
                                        "type": "number",
                                        "example": 3
                                    },
                                    "opening_date": {
                                        "type": "string",
                                        "example": "2024-11-01"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "phone"
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "example": "1234"
                                    },
                                    "state_id": {
                                        "type": "number",
                                        "example": 2
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "address": {
                                                    "type": "string",
                                                    "example": "New Address"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "City 12"
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "example": "en"
                                                },
                                                "location": {
                                                    "type": "string",
                                                    "example": "Location 12"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Name 12"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "address": "New Address",
                                                "city": "City 12",
                                                "language": "en",
                                                "location": "Location 12",
                                                "name": "Name 12"
                                            }
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Update Branch": {
                                    "value": {
                                        "code": "0012",
                                        "email": "email",
                                        "google_location": "Location 1 New",
                                        "is_active": 1,
                                        "manager_id": 3,
                                        "opening_date": "2024-11-01",
                                        "phone": "phone",
                                        "postal_code": "1234",
                                        "state_id": 2,
                                        "translations": [
                                            {
                                                "address": "New Address",
                                                "city": "City 12",
                                                "language": "en",
                                                "location": "Location 12",
                                                "name": "Name 12"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/branch/1": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Branch"
                ],
                "summary": "Delete Branch",
                "description": "Delete Branch",
                "operationId": "deleteBranch",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/branches/bulk-delete": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Branch"
                ],
                "summary": "Bulk Delete",
                "description": "Bulk Delete",
                "operationId": "bulkDelete1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "number",
                                            "example": 4
                                        },
                                        "example": [
                                            4,
                                            5
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Bulk Delete": {
                                    "value": {
                                        "ids": [
                                            4,
                                            5
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/branches/2/change-status": {
            "post": {
                "tags": [
                    "Inventory",
                    "Branch"
                ],
                "summary": "Change Active Status",
                "description": "Change Active Status",
                "operationId": "changeActiveStatus3",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/branches/export": {
            "post": {
                "tags": [
                    "Inventory",
                    "Branch"
                ],
                "summary": "Export",
                "description": "Export",
                "operationId": "export1",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/brands": {
            "get": {
                "tags": [
                    "Inventory",
                    "Brand"
                ],
                "summary": "Get all/paginated",
                "description": "Get all/paginated",
                "operationId": "getAllPaginated3",
                "parameters": [
                    {
                        "name": "all",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "true"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Inventory",
                    "Brand"
                ],
                "summary": "Create Brand",
                "description": "Create Brand",
                "operationId": "createBrand",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "example": "brand1.png"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "language": {
                                                    "type": "string",
                                                    "example": "en"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Brand 1"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "language": "en",
                                                "name": "Brand 1"
                                            },
                                            {
                                                "language": "zh",
                                                "name": "Brand 1"
                                            },
                                            {
                                                "language": "cn",
                                                "name": "Brand 1"
                                            }
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Create Brand": {
                                    "value": {
                                        "image": "brand1.png",
                                        "is_active": true,
                                        "translations": [
                                            {
                                                "language": "en",
                                                "name": "Brand 1"
                                            },
                                            {
                                                "language": "zh",
                                                "name": "Brand 1"
                                            },
                                            {
                                                "language": "cn",
                                                "name": "Brand 1"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/brands/2": {
            "get": {
                "tags": [
                    "Inventory",
                    "Brand"
                ],
                "summary": "Get Brand",
                "description": "Get Brand",
                "operationId": "getBrand",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/brands/1": {
            "patch": {
                "tags": [
                    "Inventory",
                    "Brand"
                ],
                "summary": "Update Brand",
                "description": "Update Brand",
                "operationId": "updateBrand",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "example": "brand12.png"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "language": {
                                                    "type": "string",
                                                    "example": "en"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Brand 12"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "language": "en",
                                                "name": "Brand 12"
                                            },
                                            {
                                                "language": "zh",
                                                "name": "Brand 12"
                                            }
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Update Brand": {
                                    "value": {
                                        "image": "brand12.png",
                                        "is_active": true,
                                        "translations": [
                                            {
                                                "language": "en",
                                                "name": "Brand 12"
                                            },
                                            {
                                                "language": "zh",
                                                "name": "Brand 12"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/brand/1": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Brand"
                ],
                "summary": "Delete Brand",
                "description": "Delete Brand",
                "operationId": "deleteBrand",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/brands/bulk-delete": {
            "delete": {
                "tags": [
                    "Inventory",
                    "Brand"
                ],
                "summary": "Bulk Delete",
                "description": "Bulk Delete",
                "operationId": "bulkDelete2",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "number",
                                            "example": 3
                                        },
                                        "example": [
                                            3,
                                            4
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Bulk Delete": {
                                    "value": {
                                        "ids": [
                                            3,
                                            4
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/brands/1/change-status": {
            "post": {
                "tags": [
                    "Inventory",
                    "Brand"
                ],
                "summary": "Change Active Status",
                "description": "Change Active Status",
                "operationId": "changeActiveStatus4",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/colors": {
            "get": {
                "tags": [
                    "Inventory",
                    "Color"
                ],
                "summary": "Get All / Paginated",
                "description": "Get All / Paginated",
                "operationId": "getAllPaginated4",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "2"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Inventory",
                    "Color"
                ],
                "summary": "Create Color",
                "description": "Create Color",
                "operationId": "createColor",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "color_code": {
                                        "type": "string",
                                        "example": "color345"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "parent": {
                                        "nullable": true,
                                        "example": null
                                    },
                                    "translations": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "language": {
                                                    "type": "string",
                                                    "example": "en"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Color 2"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "language": "en",
                                                "name": "Color 2"
                                            },
                                            {
                                                "language": "zh",
                                                "name": "Color 2"
                                            },
                                            {
                                                "language": "cn",
                                                "name": "Color 2"
                                            }
                                        ]
                                    }
                                }
                            },
                            "examples": {
                                "Create Color": {
                                    "value": {
                                        "color_code": "color345",
                                        "is_active": true,
                                        "parent": null,
                                        "translations": [
                                            {
                                                "language": "en",
                                                "name": "Color 2"
                                            },
                                            {
                                                "language": "zh",
                                                "name": "Color 2"
                                            },
                                            {
                                                "language": "cn",
                                                "name": "Color 2"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/color/2": {
            "get": {
                "tags": [
                    "Inventory",
                    "Color"
                ],
                "summary": "Get Color",
                "description": "Get Color",
                "operationId": "getColor",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/colors/1": {
            "patch": {
                "tags": [
                    "Inventory",
                    "Color"
                ],
                "summary": "Update Color",
                "description": "Update Color",
                "operationId": "updateColor",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "color_code": {
                                        "type": "string",
                                        "example": "color1"
                                    },
                                    "is_active": {
                                        "type": "boolean",
[...]
